body {
	background-color: rgb(225, 225, 225);
	font-size: 18px;
	font-family: "Verdana", sans-serif;
	color: black;
	padding-left: 50px;
}
.grid-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
}
#common-complaints {
	grid-column-start: 1;
	grid-column-end: 3;
}
.system {
	border: 2 px;
	background-color: rgb(203, 203, 203);
	padding: 1px 25px 30px 25px;
	width: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
	margin: 10px;
}

a:link,
a:visited {
	background-color: #ffffff;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	margin: 2px;
}

a:hover,
a:active {
	background-color: #a7a7a7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
